@use "../../styles/mixins";
@use "../../styles/settings";

.menu {
  $this: &;
  width: 100%;
  margin: 0 auto;
  color: var(--color-dark);

  &__list {
    display: flex;
    left: 0;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    background: var(--color-brand);
    border-radius: settings.$base-unit;

    &--child {
      display: none;
      position: absolute;
      background: var(--color-brand);
      border-radius: settings.$base-unit;

      @at-root #{$this}__list__item:hover & {
        display: flex;
        left: 0;
      }
    }

    &__item {
      display: block;
      list-style-type: none;
      padding: 16px 16px;

      &--child {
        display: block;
        align-items: start;
        max-width: 200px;
      }
    }

    &__link {
      text-decoration: none;
      color: var(--color-dark);
    }
  }
}
